<h2 class="trigger"><%= link_to 'About Me', '#' %></h2>
<div class="toggle_container">
<div id="interest" class="toggle_block">
  <p>Hi. Thank you for taking the time to look at my site. My main hobbies are computers, be it learning computer languages 
    or tinkering with some hardware, basketball, and reading.  You can either catch me at Barnes Nobles either reading or 
    messing with my computer or you can catch me at the park playing basketball. </p>
</div>
</div>

<h2 class="trigger"><%= link_to 'Education', '#' %></h2>
<div class="toggle_container">
<div id="education" class="toggle_block">
  <p>I graduated from Texas State with a Bachelor of Science in Computer Science with a minor in Mathamatics back in 2007</p>
</div>
</div>

<h2 class="trigger"><%= link_to 'Jobs', '#' %></h2>
<div class="toggle_container">
<div id="jobs" class="toggle_block">
  <ul class="jobs">
      <li><h4><%= link_to 'Neubus', 'http://www.neubus.com', :target => "_blank" %>(2006 - 2010)</h4>
      <p>I started as an intern and then was hired as a Software Developer once I graduated. As a Software Developer, I was in 
      charge of creating new applications, debugging current applications and providing technical support to many state agencies. </p>
    </li>
    <li><h4><%= link_to 'Pervasive', 'http://www.pervasive.com', :target => "_blank" %>(2010 - Present)</h4>
      <p>At Pervasive, I am a Web Developer who currently works on DNN. I design modules written in C# to be used through out the company's
      websites. I implement Jquery, HTML and CSS changes as well to current websites on a daily basis. I've worked with Database migrations
      involving data from a Drupal site to a DNN site.</p><p> Some of the websites I mainly work on are:
      <ul>
        <li><%= link_to 'Solutions', 'http://www.pervasive.com/solutions', :target => "_blank", :class => 'screenshot',
            :rel => '../images/solutions.png', :title => 'My primary focus at Pervasive' %></li>
        <li><%= link_to 'Galaxy', 'http://www.pervasive.com/galaxy', :target => "_blank", :class => 'screenshot',
            :rel => '../images/galaxy.png', :title => 'Check out Galaxy!!'%></li>
        <li><%= link_to 'Tools', 'http://www.pervasive.com/tools', :target => "_blank", :class => 'screenshot' ,
            :rel => '../images/tools.png' %></li>
      </ul></p>
    </li>
  </ul>
</div>
</div>

<h2 class="trigger"><%= link_to 'Projects', '#' %></h2>
<div class="toggle_container">
<div id="projects" class="toggle_block">
  
</div>
  
  
</div>

