<header>
  <nav id="nav">
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "Ruby", '#' %></li>
      <li><%= link_to "Resume", '#' %></li>
      <li><%= link_to "Austin", '#' %></li>   
      <li><%= link_to "Tumblr", '#' %></li>        
    </ul>
  </nav>
</header>
