<header id="header">
  <h1>
    <a href="http://eddielopezzzz.heroku.com/">eddielopezzzz.heroku.com</a>
    <span>A personal portfolio with my resume, blogs, and other info</span>
  </h1>
</header>
  <nav id="nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Ruby", '#' %></li>
      <li><%= link_to "Resume", '#' %></li>
      <li><%= link_to "Austin", '#' %></li>   
      <li><%= link_to "Tumblr", '#' %></li>        
    </ul>
  </nav>